@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

// variables
$primary: #ecf0f3;
$secondary: #3c404d;
$accent: #9a6fd0;
$shadow: #cbced1;

// base styles
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: black;
   color: black;
}

// mixins
@mixin buttonStyles {
   cursor: pointer;
   border: none;
   outline: none;
}

@mixin centering {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

@mixin flexManagement($direction: row, $jc: center, $ai: center) {
   display: flex;
   flex-direction: $direction;
   justify-content: $jc;
   align-items: $ai;
}
